@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Lexend Deca;
    font-weight: 400;
    src: url(/src/assets/fonts/lexend-deca/LexendDeca-Regular.ttf);
  }
  @font-face {
    font-family: Lexend Deca;
    font-weight: 500;
    src: url(/src/assets/fonts/lexend-deca/LexendDeca-Medium.ttf);
  }
  @font-face {
    font-family: Lexend Deca;
    font-weight: 600;
    src: url(/src/assets/fonts/lexend-deca/LexendDeca-SemiBold.ttf);
  }
  @font-face {
    font-family: Lexend Deca;
    font-weight: 700;
    src: url(/src/assets/fonts/lexend-deca/LexendDeca-Bold.ttf);
  }
  @font-face {
    font-family: Lexend Deca;
    font-weight: 900;
    src: url(/src/assets/fonts/lexend-deca/LexendDeca-Black.ttf);
  }
}

input:focus-visible {
  outline: none;
}

ol > li {
  position: relative;
  padding-left: 1rem;
}

ol > li > .ql-ui {
  position: absolute;
  left: 0;
  top: 0.5em;
  width: 0.3em;
  height: 0.3em;
  background-color: currentColor;
  border-radius: 50%;
  content: "";
  display: inline-block;
}

html body {
  scroll-behavior: smooth;
}